.mask {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    transition: opacity .3s ease-in;
}

.showMask {
    opacity: 1;
    transform: translateY(0);
}

.hideMask {
    opacity: 0;
    transform: translateY(100%);
}

.MusicPlayerWindow {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EFEFF4;
    z-index: 100;
    font-size: 17px;
    display:flex;
    flex-direction: column;
    transition: transform .3s ease-in;
    transform: translateY(100%);
}

.showMusicPlayerWindow {
    transform: translateY(0)
}

.MusicPlayerButton {
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.MusicPlayerButtonText {
    color:#ff2064;
    margin-right: 15px;
    font-size: 15px;
}

.MusicName {
    display: flex;
    height: 17px;
    align-items: center;
    justify-content: center;
}

.MusicTime {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center; 
}

.MusicTimeText {
    font-size: 10px;
}

.MusicProgressingAll {
    display:flex;
    height: 30px;
    flex-direction: row;
    align-items: center;
}

.MusicProgressingImg {
    height: 12px;
    width: 12px;
    margin-left: 30px
}

.MusicProgressing {
    background:#e5e5e5;
    border-radius:50px;
    width:275px;
    height:5px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MusicProgressingHavePlayed {
    border-radius:50px;
    background:#ff2064;
    width:114px;
    height:5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.MusicProgressingButton {
    background:#ffffff;
    border:1px solid #ff2064;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.10);
    width:14px;
    height:14px;
    border-radius:100%;
}